@if(posts.Count<=0)
{
    <p>Nothings</p>
}
else
{
<div class="row">
  @foreach (var item in posts)
        {
    <div class="col-lg-6 col-sm-12">



        <div class="card">
            <div class="card-header">
                @item.Category
            </div>
            <div class="card-body">
                <h5 class="card-title">@item.Title</h5>
                <p class="card-text">@item.Description</p>
                <a  class="btn btn-primary" href="post/edit/@item.Id">Edit</a>
                <a  class="btn btn-primary" href="post/details/@item.Id">View Post</a>
            </div>
        </div>

    </div>
        }
</div>
}

@code {
    [Parameter]
     public List<Post> posts{get; set;}



}
